<%- include('layout.ejs'); %>
<div class="container">
    <div class="row justify-content-center">    
        <h3>Welcome!</h3>
    </div>
</div>
<div class="row" style="justify-content: space-evenly;">
    <a href="/login"><button type="submit" class="btn" style="
        background-color: black;
        color: white;
        border-radius: 30%;
        opacity: 0.5;
        min-width: 80px;">Login</button> </a>
    <a href="/register"><button type="submit" class="btn" style="
        background-color: black;
        color: white;
        border-radius: 30%;
        opacity: 0.5;
        min-width: 80px;">Register</button> </a>
</div>

</body>
</html>